.site-header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  height: 80px;
  width: 100%;
  z-index: 8;
  transition: all 400ms $transition;
  display: flex;
  justify-content: center;
  &--shadow {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.03), 0 4px 8px rgba(0, 0, 0, 0.03);
    height: 60px;
    .side-menu {
      height: calc(100vh - 60px);
    }

  }
  @include breakpoint(small down) {
    height: 60px;
    width: 100vw;
  }
}

.site-title {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}

.nav {
  width: 100%;
  max-width: rem-calc(1440);
  padding: 0 40px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
  @include breakpoint(small down) {
    padding: 0 10px;
    justify-content: space-between;
    max-width: 96%;
  }
  @include breakpoint(376px down) {
    max-width: 88%;
  }
  &__items {
    width: 210px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(small down) {
      justify-content: flex-end;
    }
  }
  &__home {
    display: flex;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    height: 80px;
  }
  &__lang {
    display: flex;
    justify-content: space-between;
    min-width: 40px;
    text-transform: uppercase;
    a {
      opacity: 0.6;
      font-weight: 500;
    }
    & .current-lang {
      text-decoration: underline;
      a {
        color: $darkBlue;
        font-weight: 600;
        opacity: 1;
      }
    }
  }
  &__suprise {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-right: 7.5px solid $black;
    border-top: 1px solid $black;
    border-left: 1px solid $black;
    border-bottom: 1px solid $black;
  }
  &__icon {
    position: relative;
    width: 20px;
    height: 9px;
    z-index: -1;
    margin-right:3px;
    &__line {
      position: absolute;
      right: 0;
      width: 12px;
      height: 2px;
      background-color: $black;
      transition: width 400ms $transition;
    }
    &__line:last-child {
      bottom: 0;
      width: 20px;
    }
  }
  &__menu-button {
    // width: 64px;
    height: 100%;
    display: inline-flex;
    background-color: transparent;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 1;
    &--clicked {
      .nav__icon {
        &__line {
          width: 20px;
        }
        &__line:last-child {
          width: 12px;
        }
      }
    }
  }
}

.nav__items--mobile {
  width: 50%;
  height: 50px;
  justify-content: space-between;
  float: right;
  align-items: center;
}
.nav__lang--mobile {
  width: 80px;
  li {
    a {color: white;}
  }
  .current-lang a {color: $orange;}
}
.nav__suprise--mobile {
  border-right: 7.5px solid $white;
    border-top: 1px solid $white;
    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
}

.side-menu {
  position: absolute;
  top: 100%;
  margin: 0;
  right: -60vw;
  width: 50vw;
  height: calc(100vh - 80px);
  z-index: 2;
  background-color: $darkBlue;
  transition: right 400ms $transition;
  @include breakpoint(small down) {
    width: 100vw;
    right:-101vw;
    height: calc(100vh - 60px);
  }
  &--active {
    right: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.14);
  }
}

.body--contrast {
  .site-header {
    background-color: $blackBlue;
    &--shadow {
      box-shadow: 0 0 4px rgba(255, 255, 255, 0.03), 0 4px 8px rgba(255, 255, 255, 0.03);
    }
  }
  .nav {
    &__suprise {
      border-right: 7.5px solid $white;
      border-top: 1px solid $white;
      border-left: 1px solid $white;
      border-bottom: 1px solid $white;
    }
    &__icon__line {
      background-color: $white;
    }
    &__menu-button {
      color: $white !important;
    }
    &__lang {
      a {
        opacity: 0.8;
      }
      & .current-lang a {
        opacity: 1;
        color: $white !important;
      }
    }

  }
  .side-menu.side-menu__inner.side-menu__list li a {
    color: $white !important;
  }
}

.scrolledTop {
  transform: translateY(-100%) !important;
}



