.site-header {
  position: relative;
  background-color: $white;
  height: 80px;
  width: 100%;
}


.site-title {
  visibility: hidden;
  height: 0;
  width: 0;
}

.svef-logo {
  width: 109px;
  height: 17px;
}

.nav {
  max-width: rem-calc(1440);
  margin: 0 40px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  &__items {
    width: 210px;
    display: flex;
    justify-content: space-between;
  }
}

.side-menu {
  position: absolute;
}



