.side-menu {
  &__inner {
    position: relative;
    right: 0;
    padding: 80px 100px 0 0;
    @include breakpoint(1660px up) {
      max-width: 45rem;
    }
    @include breakpoint(medium down) {
      padding: 40px 80px 0 0;
    }
    @include breakpoint(small down) {
      padding: 8px 40px 0 0;
      height: 100%;
      overflow: scroll;
    }
  }

}
@keyframes fadeInRight {
  0% {
      opacity: 0;
      left: 20%;
  }
  100% {
      opacity: 1;
      left: 0;
  }
}    
.side-menu__list {
  overflow: scroll;
  scroll-behavior: smooth;
  @include breakpoint(small down) {
    margin-bottom: 0;
  }
  &::-webkit-scrollbar{
    width: 0px;
  }
  &::-webkit-scrollbar-track-piece{
      background-color: transparent;
      -webkit-border-radius: 6px;
  }
  li {
    animation: fadeInRight 1.5s ease forwards;
    animation-delay: .35s; 
    &:nth-of-type(2) {
      animation-delay: .4s;
    }
    &:nth-of-type(3) {
      animation-delay: .45s;
    }
    &:nth-of-type(4) {
      animation-delay: .50s;
    }
    display: flex;
    position: relative;
    justify-content: flex-end;
    height: auto;
    flex-flow: column;
    margin-bottom: 20px;
    transition: all 400ms ease;
    @include breakpoint(medium down) {
      margin-bottom: 5px;
    }
    @include breakpoint(small down) {
      margin-bottom: 10px;
    }

    a {
      @extend h3;
      color: $white;
      text-align: right;
      margin-bottom: 28px;
      margin-left: 0;
      position: relative;
      transition: all 400ms ease;
      &::after {
        transition: all 400ms ease;
        content: '';
        position: absolute;
        visibility: hidden;
        opacity: 0;
        right:0;
        top: 50%;
        margin-top: -6px;
        width: 33px;
        height: 12px;
        background-image: url('../images/icons/linkarrow.svg');
        z-index: 4;
      }
      &:hover {
          padding-right: 50px;
          &::after{
            visibility: visible;
            opacity: 1;
          }
      }
      @include breakpoint(small down) {
        margin-bottom: 5px;
      }
    }
    ul {
      padding-right: 30px;
      @include breakpoint(small down) {
        padding-right: 0;
      }
      li {
        margin-bottom: 0;
        height: 30px;
        a {
          @extend .link-text--menu;
          @include breakpoint(small down) {
            font-weight: 500;
          }
          height: 100%;
          margin-bottom: 1px;
          color: $white;
          &:hover {
            color: $orange;
            padding-right: 0;
            &::after{
              visibility: hidden;
            }
          }

        }
      }
    }
  }
  
  .is-active {
    > a {
      padding-right: 50px;
      &::after{
        visibility: visible;
        opacity: 1;
      }
    }
    > ul .is-active a {
      color: $orange ;
      padding-right: 0;
      &::after{
        visibility: hidden;
        opacity: 0;
    }
  }
}
}

.body--contrast {
  .side-menu.side-menu__inner.side-menu__list li a {
    color: $white !important;
  }
}
