.side-signup {
    position: fixed;
    top: 0;
    bottom:0;
    left: -60vw;
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
    margin: 0;
    z-index: 2;
    width: 50vw;
    height: 100vh;
    background-color: $bgGray;
    transition: left 300ms ease;
    @include breakpoint(small down) {
      width: 100vw;
      left:-101vw;
    }
    &--active {
      left: 0;
    }
    &__inner {
        padding: 120px 100px;
    }
    .btnSignup {
        position: fixed;
        z-index: 99;
        left: -28px;
        top: 50vh;
        transform: rotate(-90deg);
        &--clicked {
            left: calc(50vw - (184/2)*1px);
        }
      }
    &::-webkit-scrollbar{
        width: 0px;
    }

    &::-webkit-scrollbar-track-piece{
        background-color: transparent;
        -webkit-border-radius: 6px;
    }
}
.side-signup__info {
    width: 100%;
    overflow: scroll;
}
.side-signup__steps {
    padding-bottom: 30px;
    .step {
        margin-left: 40px;
        h4 {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::before {
                position: absolute;
                content: "";
                background-color: $darkBlue;
                width: 4px;
                height: 4px;
                left: -40px;
            }
        }
        p {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::before {
                position: absolute;
                content: "";
                background-color: $darkBlue;
                width: 2px;
                margin-left: 1px;
                height: calc(100% + 40px);
                left: -40px;
            }
        }
    }
}
.side-signup-overlay {
    width: 100vw;
    height: 100vh;
    background-color: $black;
    opacity: 0;
    display: none;
    position: fixed;
    top: 0;
    bottom:0;
    z-index: 1;
    transition: opacity 300ms ease;
    &--active {
        opacity: 0.4;
        display: block;
      }
}

.body--contrast {
  .side-signup {
    h1, h2, h3, h4, p, a, .btnSignup, .text, label, li, input[type="text"], input[type="checkbox"] {
      color: $black;
    }

  }
}
