.side-signup {
    position: absolute;
    top:100%;
    left: -60vw;
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
    margin: 0;
    z-index: 2;
    width: 50vw;
    height: 100vh;
    background-color: $bgGray;
    transition: left 300ms ease;
    @include breakpoint(medium down) {
      width: 100vw;
      left:-101vw;
    }
    &--active {
      left: 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.14);
      .closeSignupMobile {
      position: fixed;
      top: 86px;
      right: 14px;
      height: 20px;
      width: 20px;
      cursor: pointer;
      z-index: 100;
      transition: opacity .9s ease;
      outline: none;
        span {
          background: #999;
          border: none;
          height: 2px;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
          transition:  all .35s ease;
          cursor: pointer;
            &:nth-of-type(2) {
              top: 8px;
            }
          }
        .top {
          transform: translateY(0px) translateX(0) rotate(45deg);
        }
        .bottom {
          transform: translateY(-8px) translateX(0) rotate(-45deg);
        }
      }
    }
    &__inner {
        padding: 60px 100px;
        float: right;
        @include breakpoint(large down) {
          padding: 40px;
      }
        @include breakpoint(medium down) {
          padding: 40px 100px;
      }
        @include breakpoint(small down) {
          padding: 20px 40px;
      }
    }

    &::-webkit-scrollbar{
        width: 0px;
    }

    &::-webkit-scrollbar-track-piece{
        background-color: transparent;
        -webkit-border-radius: 6px;
    }
}
.btnSignup {
  position: fixed;
  z-index: 99;
  left: calc((-184px / 2) + 30px);
  top: 50vh;
  transform: rotate(-90deg);
  &--clicked {
      left: calc(50vw - (184/2)*1px);
      @include breakpoint(medium down) {
        left: calc(100vw - ((184px / 2) - -30px));
      }
  }
  @include breakpoint(small down) {
    transform: rotate(0);
    left: 50%;
    margin-left: -92px;
    top: auto;
    bottom: 15px;
    transition: all 400ms $transition;

  }
}
.btnFixedOff {
  position: initial;
  transform: rotate(0deg);
  float: right;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.side-signup__info {
    width: 100%;
    max-width: 660px;
    overflow: scroll;
}
.side-signup__steps {
    padding-bottom: 30px;
    .step {
        margin-left: 40px;
        h4 {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::before {
                position: absolute;
                content: "";
                background-color: $darkBlue;
                width: 4px;
                height: 4px;
                left: -40px;
            }
        }
        p {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::before {
                position: absolute;
                content: "";
                background-color: $darkBlue;
                width: 2px;
                margin-left: 1px;
                height: calc(100% + 40px);
                left: -40px;
            }
        }
    }
}
.side-signup-overlay, .menu-overlay {
    width: 100vw;
    height: 100vh;
    background-color: $black;
    opacity: 0;
    display: none;
    position: absolute;
    top: 100%;

    z-index: 1;
    transition: opacity 300ms ease;
    &--active {
        opacity: 0.4;
        display: block;
      }
}

.body--contrast {
  .side-signup {
    h1, h2, h3, h4, p, a, .text, label, li, input[type="text"], input[type="checkbox"] {
      color: $black;
    }
    .btnSignup {
      color: $black;
    }
  }
}

.gform_wrapper h3.gform_title {
  display: none !important;
}

.frmsignup {
  .formMarginLess {
    margin: 0 !important;
  }
  .formMarginBottom {
    margin-bottom: 30px !important;
  }
  .termsLink {
      width: 50%;
      float: right;
      text-align: right !important;
      position: relative !important;
      top: -32px !important;
      a {
        font-weight: 500;
        text-decoration: underline !important;
        &:hover {
          color: $orange;
        }
      }
      @include breakpoint(small down) {
        width: 100% !important;
        float: unset !important;
        text-align: unset !important;
        position: unset !important;
        top: unset !important;
        margin-bottom: 10px !important;
      }
  }

  .gform_fields {
    .gsection {
      border-bottom: none;
    }
    .gfield {
      margin: 0 0 40px;
      padding: 0;
      padding-right: 0 !important;

    }
  }
  .gform_footer {
    display: flex;
    justify-content: flex-end;
    .gform_button {
      @extend .btnMain;
      @extend button;
      font-size: 11px !important;
    }
  }
}
/*Default styles for Gravity Forms frmsignup class*/
.frmsignup ul.gfield_checkbox li input[type=checkbox]:checked+label,.frmsignup ul.gfield_checkbox li input[type=checkbox]:not(:checked)+label {
  margin-left:19px;
}
/*Custom subscribe box for .frmsignup class*/
.frmsignup [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute!important;
  left: -9999px;
}

.frmsignup [type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label {
  position: relative!important;
  padding-left: 1.0em!important;
  cursor: pointer!important;
}

.frmsignup [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: -17px;
  top: 2px;
  width: 1.30em;
  height: 1.30em;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  padding: 2px;
}

.frmsignup [type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  top: 8px;
  left: -11px;
  font-size: 1.3em;
  background-color: $orange;
  transition: all .2s;
}
/* checked mark aspect changes */
.frmsignup [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.frmsignup [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.frmsignup [type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.frmsignup [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.frmsignup [type="checkbox"]:disabled + label {
  color: #aaa;
}

.gfield {
  width: calc(100% - 16px);
  .gfield_label {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
    line-height: 22px !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    .gfield_required {
      color: $black-40;
      @extend .text--small;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
  .ginput_container {
    input {
      border: none;
      border-bottom: 1px solid $black-40;
      background: transparent;
      box-shadow: none;
    }
    .chosen-container {
      .chosen-single {
        border: none;
        border-bottom: 1px solid $black-40;
        background: none;
        box-shadow: none;
        height: 40px;
      }
    }
    .chosen-container-active.chosen-with-drop{
      .chosen-single {
        border: none;
        background: $bgGray;
        background-image: none;
        box-shadow: none;
      }
      .chosen-drop {
        border: none;
        background: $bgGray;
      }
    }
  }
}

.chosen-container-active.chosen-with-drop{

  .chosen-drop {
    box-shadow: $cardShadow;
    .chosen-search {
      .chosen-search-input {
        border: none;
        border-bottom: 1px solid $black-40;
        height: 40px;
      }
    }
    .chosen-results {
      .active-result.result-selected {
        height: 40px !important;
        line-height: 32px !important;
      }
      .active-result.result-selected.highlighted {
        background-image: none;
        background-color: $black-10;
        color: $black;
        @extend .text--small;
      }
    }
  }
}

.gform_wrapper li.gfield.gfield_error.gfield_contains_required div.gfield_description {
  position: relative !important;
  padding-right: 0 !important;
  padding-right: 0px !important;
}

#gform_2 .gform_wrapper.gform_validation_error .gform_body ul li.gfield_error:not(.gf_left_half):not(.gf_right_half) {
  max-width: 100% !important;
  width: 500px;
  @include breakpoint(641px) {
    max-width: 100% !important;

  }
}
.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
  max-width: 100% !important;
}

.gform_wrapper ul.gform_fields {
  position: relative;
}
