.side-signup {
    position: absolute;

    top:100%;
    left: -60vw;
    overflow-y:scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
    margin: 0;
    z-index: 2;
    width: 50vw;
    height: 100vh;
    background-color: $bgGray;
    transition: left 300ms ease;
    @include breakpoint(small down) {
      width: 100vw;
      left:-101vw;
    }
    &--active {
      left: 0;
    }
    &__inner {
        padding: 120px 100px;
    }

    &::-webkit-scrollbar{
        width: 0px;
    }

    &::-webkit-scrollbar-track-piece{
        background-color: transparent;
        -webkit-border-radius: 6px;
    }
}
.btnSignup {
  position: fixed;
  z-index: 99;
  left: -28px;
  top: 50vh;
  transform: rotate(-90deg);
  &--clicked {
      left: calc(50vw - (184/2)*1px);
  }
}
.side-signup__info {
    width: 100%;
    overflow: scroll;
}
.side-signup__steps {
    padding-bottom: 30px;
    .step {
        margin-left: 40px;
        h4 {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::before {
                position: absolute;
                content: "";
                background-color: $darkBlue;
                width: 4px;
                height: 4px;
                left: -40px;
            }
        }
        p {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &::before {
                position: absolute;
                content: "";
                background-color: $darkBlue;
                width: 2px;
                margin-left: 1px;
                height: calc(100% + 40px);
                left: -40px;
            }
        }
    }
}
.side-signup-overlay {
    width: 100vw;
    height: 100vh;
    background-color: $black;
    opacity: 0;
    display: none;
    position: absolute;
    top: 100%;

    z-index: 1;
    transition: opacity 300ms ease;
    &--active {
        opacity: 0.4;
        display: block;
      }
}

.body--contrast {
  .side-signup {
    h1, h2, h3, h4, p, a, .text, label, li, input[type="text"], input[type="checkbox"] {
      color: $black;
    }
    .btnSignup {
      color: $black;
    }
  }
}

.gform_wrapper h3.gform_title {
  display: none !important;
}

.frmsignup {

  .gform_fields {
    .gsection {
      border-bottom: none;
    }
    .gfield {
      margin: 0 0 40px;
      padding: 0;
      padding-right: 0 !important;

    }
  }
}

.gfield {
  .gfield_label {
    display: flex !important;
    justify-content: space-between;
    width: 100%;
    line-height: 22px !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    .gfield_required {
      color: $black-40;
      @extend .text--small;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
  .ginput_container {
    input {
      border: none;
      border-bottom: 1px solid $black-40;
      background: transparent;
      box-shadow: none;
    }
    .chosen-container {
      .chosen-single {
        border: none;
        border-bottom: 1px solid $black-40;
        background: none;
        box-shadow: none;
        height: 40px;
      }
    }
    .chosen-container-active.chosen-with-drop{
      .chosen-single {
        border: none;
        background: $bgGray;
        background-image: none;
        box-shadow: none;
      }
      .chosen-drop {
        border: none;
        background: $bgGray;
      }
    }
  }
}

.chosen-container-active.chosen-with-drop{

  .chosen-drop {
    box-shadow: $cardShadow;
    .chosen-search {
      .chosen-search-input {
        border: none;
        border-bottom: 1px solid $black-40;
        height: 40px;
      }
    }
    .chosen-results {
      .active-result.result-selected {
        height: 40px !important;
        line-height: 32px !important;
      }
      .active-result.result-selected.highlighted {
        background-image: none;
        background-color: $black-10;
        color: $black;
        @extend .text--small;
      }
    }
  }
}



