.article {
  min-height: 90vh;
  &__content {
    p, ul, .wp-block-media-text{
      @include xy-cell(10);
      @include xy-cell-offset(2);
      @include breakpoint(medium down) {
        @include xy-cell(12);
        @include xy-cell-offset(0);
      }
    }
    ul {
      @extend .text--content-ul;
      padding: 0;
      list-style-position: inside;
      li {
        margin: 0;
      }
    }

    .wp-block-media-text__content {
      padding: 0;
      p {
        margin:0;
      }
    }
  }


}
