.article {
  min-height: 90vh;
  &__header {
    margin-top: 186px;
  }
  &__content {
    h2, h3 {
      @include xy-cell(10, true, $grid-margin-gutters, margin);
      @include xy-cell-offset(1);
    }
    p, ul, .wp-block-media-text, .wp-block-image{
      @include xy-cell(8);
      @include xy-cell-offset(2);
      @include breakpoint(medium down) {
        @include xy-cell(10);
        @include xy-cell-offset(1);
      }
    }
    ul {
      @extend .text--content-ul;
      padding: 0;
      list-style-position: inside;
      li {
        margin: 0;
      }
    }

    .wp-block-media-text__content {
      padding: 3%;
      p {
        margin:0;
      }
    }
  }


}
