.section--c2a {
  position: relative;

  @include breakpoint(medium down) {
    margin-top: 160px;
  }
  .c2a-image {
    position: relative;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    @include breakpoint(medium down) {
      width: 100%;
      min-height: 100px;
      height: 45vh;
      right: 0;

    }

    &--mask {
      clip-path: url('#mask');
      height: 600px;
      left:0;
      background-attachment: scroll;
      background-attachment: fixed;
      @include breakpoint(large down) {

        height: 500px;
      }
      @include breakpoint(medium down) {
        width: 100%;
        top: -100px;
        height: 500px;
        margin-top: 0;
        right: 0;
      }
    }
    &--no-mask {

      @include breakpoint(medium down) {
        width: 100%;
        top: -100px;
        height: 500px;
        margin-top:0;
      }
    }

  }
  .section__c2a-inner{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 790px;
    @include breakpoint(medium down) {
      min-height: 0;
      height: auto;
    }
  }
  .section__link {
    &--absolute {
      margin-top: 0;
      bottom: -15%;
      @include breakpoint(medium down) {
        bottom:0;
      }
    }
  }
  .section__info {
    @include breakpoint(medium down) {
      position: relative;
      top: -50px;
      min-height: 10vh;
      height: auto;
    }
    @include breakpoint(small down) {
      top:0;
    }
  }
  h2 {
    position: relative;
    top: -10px;
    @include breakpoint(medium down) {
      top: 0;
    }
  }
}
