.section--c2a {
  .c2a-image {
    position: relative;
    height: 500px;
    right: 50px;
    width: calc(100% + 20vw);
    left: -14vw;
    &--mask {
      clip-path: url('#mask');
    }
    img {
      position: absolute;
      top: 0;
      left:0;
    }
  }
  .section__c2a-inner{
    position: relative;
  }
  .section__link {
    &--absolute {
      bottom: -15%;
    }
  }

  h2 {
    display: flex;
    align-items: flex-start;
  }

}
