.section--events {
  padding: 200px 0px;
  .section__title {
    h2 {
      color: $orange !important;
    }
  }
  
  @include breakpoint(medium down) {
    padding: 60px 0px;
  }
  @include breakpoint(small down) {
    padding: 40px 0px;
  }
  &__page {
    position: relative;
    svg {
      position: absolute;
      top: 3px;
      right: -50px;
    }
  }
}
.section__event {
  padding: 60px 0;
  @include breakpoint(small down) {
    padding: 40px 0px;
  }
  &:first-child {
    padding: 100px 0  60px;
    @include breakpoint(medium down) {
      padding: 20px 0  10px;
    }
    @include breakpoint(small down) {
      padding: 40px 0;
    }
  }
  &--last {
    padding: 60px 0 100px;
    @include breakpoint(medium down) {
      padding: 20px 0  40px;
    }
    @include breakpoint(small down) {
      padding: 60px 0;
    }
  }

  span {
    display: block;
  }

  h2 {
    position: relative;
    display: inline-block;
    transition: all 400ms 200ms $transition;
    svg {
      transition: all 400ms 300ms $transition;
      position: absolute;
      top: 18px;
      right: 0;
      margin-left: 20px;
      visibility: hidden;
      opacity: 0;
    }
  }
  &--border {
    transition: all 1000ms 400ms $transition;
    padding-left: 20px;
    border-left: 1px solid $white;
  }
  a:hover {
    .section__event--border {
      border-left: 1px solid $orange;
    }
    h2 {
      color: $orange;
      svg {
        opacity: 1;
        visibility: visible;
        right: -52px;
      }
    }
  }
  @include breakpoint(small down) {
    .section__event--border {
      border-left: 1px solid $orange;
    }
  }
  &--passed {
    h2, h3, .link-text--menu {
      text-decoration: line-through;
      color: #adb5bf;
      svg {
        opacity: 0;
        visibility: hidden;
      }
    }
    .section__event--border{
      border-left: 1px solid #777;
    }
  }
}
