.section__hero--relative {
  position: relative;
}
.section--hero {
  position: relative;
  min-height: 80vh;
  max-height: 80vh;
}


.section__info {
  position: relative;
  height: 100%;
  min-height: 74vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  @include breakpoint(medium down) {
    min-height: 30vh;
  }
  @include breakpoint(small down) {
    max-height: 20vh;
  }
}

#heroSlider {
  .owl-stage-outer {
    max-height: 90vh;
  }
  .owl-dots {
    position: relative;
    display: flex;
    justify-content: center;
    width: calc(((100vw - 75rem)/2) + (100vw / 14.7) );
    margin: calc((84vh - 74vh)/2) 0 0 0;
    @include breakpoint(large down) {
      width: 8.33%;
      justify-content: center;
      // margin: 5vh 0 0 0;
    }
    @include breakpoint(medium down) {
      width: 100%;
      margin: 0;
    }

    @include breakpoint(small down) {
      position: absolute;
      width: 100vw;
      justify-content: flex-end;
      margin: -30vw 0 0;
      padding-right: 30px;
    }
    .owl-dot {
      position: relative;
      background: transparent;
      width: 20px;
      height: 20px;
      border: none;
      padding: 0 !important;
      font: inherit;
      transition: 0.4s ease all;
      &:before {
        position: absolute;
        content: '';
        background: $black;
        width: 2px;
        height: 100%;
        left: 50%;
        z-index: 1;
        top: 0;
        @include breakpoint(medium down) {
          background: $white;

        }
      }

    }
    .owl-dot.active {
      &:before {
        top: -6px;
      }
    }
  }
}

.body--contrast {
  #heroSlider .owl-dots .owl-dot {
    &::before {
      background: $white;
    }
  }
}
