.section__hero--relative {
  position: relative;
}
.section--hero {
  position: relative;
  min-height: 740px;
  @include breakpoint(small down) {
    min-height: 540px;
    max-height: 640px;
  }
  @include breakpoint(1800px) {
    max-width: 90rem;
    margin: 0 auto;
    overflow: hidden;
  }
}


.section__info {
  position: relative;
  height: 100%;
  min-height: 600px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  @include breakpoint(medium down) {
    min-height: 300px;
  }
  @include breakpoint(small down) {
    min-height: 400px;
    max-height: 600px;
    justify-content: flex-start;
  }
  &--text {
    @include breakpoint(medium down) {
      // order: 0;
    }
  }
}

#heroSlider {
  position: relative;
  .owl-stage-outer {
    @include breakpoint(1800px) {
      max-width: 90rem;
      margin: 0 auto;
    }
    max-height: 70vh;
  }
  .owl-dots {
    position: relative;
    display: flex;
    justify-content: center;
    width: calc(((100vw - 75rem)/2) + (100vw / 14.7) );
    margin: 1% 0 0 0;
    @include breakpoint(1800px) {
      width: calc( (90rem / 6) / 2);
      // width: 8.33%;
      // margin-left: calc((100vw / 12) * 3);
      margin: 2.5% 0 0 calc((100vw / 12) * 3);

    }
    @include breakpoint(retina and large) {
      margin: 2.5% 0 0 calc((100vw / 12) * 3);
    }
    @include breakpoint(retina and large down) {
      margin: 2% 0 0 0;
    }
    @include breakpoint(large down) {
      width: 8.33%;
      justify-content: center;
      margin: 4% 0 0 0;
    }
    @include breakpoint(medium down) {
      width: 100%;
      margin: 0;
      display: none;
    }

    .owl-dot {
      position: relative;
      background: transparent;
      width: 20px;
      height: 20px;
      border: none;
      padding: 0 !important;
      font: inherit;
      transition: 0.4s ease all;
      &:before {
        position: absolute;
        content: '';
        background: $black;
        width: 2px;
        height: 100%;
        left: 50%;
        z-index: 1;
        top: 0;
        @include breakpoint(medium down) {
          background: $white;

        }
      }

    }
    .owl-dot.active {
      &:before {
        top: -6px;
      }
    }
  }
}

.body--contrast {
  #heroSlider .owl-dots .owl-dot {
    &::before {
      background: $white;
    }
  }
}
