.section {
    &__jobfeed-inner {
        display: flex;
        align-items: center;
    }
    &--jobfeed {
        &__feed {
            position: relative;
            top: -100px;
        }
        &__feed-card {
            height: 200px;
            margin-bottom: 40px;
            background-color: $darkBlue;
            display: flex;
            align-items: center;
            justify-content: center;
            // transition: all 400ms 200ms $transition;
            box-shadow: $cardShadow;
            transition: all 0.3s cubic-bezier(.25,.8,.25,1);
            a { width: 100%;}
            .card-title-arrow {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p {
                color: $white;
                text-align: center;
                position: relative;
                svg {
                    top: 10px;
                    right: -80px;
                    position: absolute;
                }
            }
            p.text--card {
                color: $white;
            }
            p.text--large, p.text--small {
                color: rgba(255, 255, 255, 0.8);
            }
            &:hover {
                box-shadow: $cardShadowHover;
                p.text--large, p.text--small {
                    color: $white;
                }
                p.text--card {
                    color: $orange;
                }
            }
        }
    }
}
