.section {
    &--logowall {
        .introtext {
            margin-bottom: 40px;
        }
    }
    .supportors-logos {
        height: 500px;
        display: flex;
        align-items: center;
        padding-left: 0.625rem;
        padding-left: 0.9375rem;
        position: relative;
        @include breakpoint(medium down) {
            height: 700px;
        }
        @include breakpoint(small down) {
            height: 500px;
        }
        .logos-all {
            height: 100%;
            padding: 40px 40px 20px 40px;
            background: $bgGray;
            @include breakpoint(medium down) {
                padding: 40px;
            }
            @include breakpoint(small down) {
                padding: 30px 0 0 0;
            }

            .logo-each {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 200px;

                @include breakpoint(small down) {
                    height: 140px;
                }
                img {
                    max-width: 140px;
                    max-height: 100px;
                    @include breakpoint(medium down) {
                        max-width: 120px;
                    }
                    @include breakpoint(small down) {
                        max-height: 80px;
                        max-width: 80px;
                    }
                }

            }
            .visible_logo {
              opacity: 1 !important;
              visibility: visible;
              transition: all 1000ms 100ms cubic-bezier(0.755, 0.05, 0.855, 0.06);
            }
            .fade-in-logo {
              opacity: 0 !important;
              visibility: hidden;
              transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

            }
        }
    }
}


.body--contrast {
  .section .supportors-logos .logos-all {
    background: $blackBlue;
  }
}



