.news-page {
  margin-top: 140px;
}
.section__news {
  &--item {
    margin-bottom: 105px;
    @include breakpoint(small down) {
    margin-bottom: 110px;
    }
  & > .img {
    display: flex;
    align-items: center;
    max-height: 250px;
    height: 100%;
    overflow: hidden;
    img {
      width: 90%;
      @include breakpoint(small down) {
        width: 100%;
      }
    }
  }

    &:hover {
      .section__news--p {
        border-left: 1px solid $orange;
      }
      h2 {
        color: $orange;
        svg {
          opacity: 1;
          visibility: visible;
          right: -62px;
        }
      }
    }
  }
  span {
    display: block;
  }
  h2 {
    position: relative;
    display:  inline-block;
    transition: all 400ms 200ms $transition;
    svg {
      transition: all 400ms 300ms $transition;
      position: absolute;
      top: 13px;
      right: -20px;
      margin-left: 20px;
      visibility: hidden;
      opacity: 0;
    }
  }
  &--p {
    border-left: 1px solid $darkBlue;
    @include breakpoint(small down) {
      border-left: 1px solid $orange;
    }
  }
}
