.section--award-slider {
  .section__label {
    border-bottom: solid 2px $bgGray;
    .down-caret {
      path {
        fill: $darkBlue;
      }
    }
  }
  
}

.section__winners-slider {
  height: 676px;
  .owl-stage {
    padding-left: 0 !important;
  }
  &--inner {
    @include breakpoint(large down) {
    padding-left: 99px;
    }
    @include breakpoint(medium down) {
      padding-left: 76px;
    }
    @include breakpoint(small down) {
      padding-left: 0;
    }
  }
}
.winners-slide {
  width: 100%;
  min-width: 300px;
  margin: 0;
  z-index: 1;
  height: auto;
  overflow:hidden;
  cursor: grab;
  &:hover {
    .winners-slide__text {
      max-height: 200px;
      opacity: 1;
    }
    .winners-slide__img {
      filter: grayscale(0);
    }
  }
  @include breakpoint(medium down) {
    .winners-slide__text {
      max-height: 200px;
      opacity: 1;
    }
    .winners-slide__img {
      filter: grayscale(0);
    }
  }
  &__img {
    height: 294px;
    position: relative;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    margin-bottom: 39px;
    margin-right: 0;
    filter: grayscale(80%);
    .showLink {
      position: absolute;
      bottom: 10px;
      right: 20px;
      width: 60px;
      @include breakpoint(small down) {
        right: 30px;
      }
    }
    @include breakpoint(medium down) {
      height: 230px;
    }
    @include breakpoint(small down) {
      height: 260px;
    }
  }
  &__category {
    @include breakpoint(small down) {
      margin-left: 40px;
    }
  }
  &__heading {
    margin: 4px 0;
    padding-right: 20px;
    @include breakpoint(small down) {
      margin-left: 40px;
    }
  }
  &__text {
    border-left: 1px white solid;
    padding: 0 34px 0 9px;
    height: auto;
    max-height: 0;
    opacity: 0;
    transition: max-height 600ms $transition, opacity 600ms  $transition;
    @include breakpoint(small down) {
      max-height: 200px;
      margin-left: 40px;
    }
  }
  @include breakpoint(small down) {
    width:
    100%;
  }
}
.body--contrast {
  .section__label {
    border-bottom: solid 2px  rgba(255, 255, 255, .2);
    .down-caret {
      path {
        fill: $white;
      }
    }
  }
  
}