.link-arrow {
  &--white {
    fill: white;
  }
  &--orange {
    fill: $orange !important;
  }
}

.body--contrast{
  background: $blackBlue;
  transition: all 400ms ease;
}

.svef-logo {
  width: 109px;
  height: 17px;
}
.top-text-padding {
  padding-top: 190px;
  @include breakpoint(medium down){
    padding-top: 80px;
  }
  @include breakpoint(small down){
    padding-top: 40px;
  }
}
.top-text-margin {
  margin-top: 190px;
  @include breakpoint(small down){
    margin-top: 80px;
  }
}
.extra-large-padd-left-10 {
  padding-left: 10px;
  @include breakpoint(medium down) {
    padding-left: 0;
  }
}
.icon--white {
  path {
    fill: $white;
  }
}
.icon--dark40 {
  path {
    fill: $darkBlue-40;
  }
}
.less-margin {
  &--top {
    margin-top: 0 !important;

  }
  &--bottom {
    margin-bottom: 0 !important;
  }
}


// .align-center {
//   display: flex;
//   align-items: center;
// }

.btnMain {
  background-color: $white;
  min-width: 184px;
  border: 1px solid $darkBlue;
  padding: 15px 40px;
  transition: box-shadow 300ms ease, background-color 200ms ease, color 200ms ease, left 300ms ease;

  &:hover, &:active, &:focus {
    color: $white;
    background-color: $darkBlue;
    box-shadow: 6px 6px $blue, -6px -6px $orange;
  }
}

.section__link {
  svg {
    transform: translateX(0);
    transition: all 300ms ease;
  }
  &:hover {
    svg {
      transform: translateX(6px);
    }
  }
}
.events_link {
  margin-top: 100px;
  @include breakpoint(medium down) {
    justify-content: center;
  }
}

.hidden_logo {
  opacity: 0 !important;
}
.visible_logo {
  opacity: 1 !important;
}

.body--contrast {
  .link-arrow {
    fill: $white;
  }
}

.display-flex {
  display: flex;
  &--justify-center {
    display: flex;
    justify-content: center;
  }
}

.loadmore {
  opacity: 0;
}

.btnShowMore {
  display: flex;
  align-items: center;
  height: 20px;
}

//form error messeges/* Make the error stand out */

.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
  max-width: calc(100% - 0px) !important;
}
.gform_wrapper .validation_message {
  color: $warningRed !important;
  margin-top: -10px !important;
}
.gform_wrapper .gfield_error .gfield_label {
  color: unset !important;
  .gfield_required {
    color: $warningRed !important;
  }
}
.validation_error, .validation_message {
	position: absolute !important;
}
.gform_wrapper div.validation_error {
  display: none !important;
}
.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]), .gform_wrapper li.gfield_error textarea {
  border: unset !important;
  border-bottom: 1px solid $warningRed !important;
}
.gform_wrapper .description, .gform_wrapper .gfield_description, .gform_wrapper .gsection_description, .gform_wrapper .instruction {
  font-size: 12px;
}
.gform_wrapper .field_description_below .gfield_description {
  padding-top: 10px;
}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
  background-color: transparent !important;
  margin-bottom: 40px !important;
  border-top: none !important;
  border-bottom: none !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  box-sizing: unset !important;
}


.body--contrast {
  .icon--dark40 {
    path {
      fill: #F1F1F9;
    }
    &:hover {
      path {
        fill: $white;
      }
    }
  }
}
