.link-arrow {
  &--white {
    fill: white;
  }
  &--orange {
    fill: $orange !important;
  }
}

.body--contrast{
  background: $blackBlue;
  transition: all 400ms ease;
}

.svef-logo {
  width: 109px;
  height: 17px;
}
.top-text-padding {
  padding-top: 190px;
  @include breakpoint(medium down){
    padding-top: 80px;
  }
  @include breakpoint(small down){
    padding-top: 40px;
  }
}
.top-text-margin {
  margin-top: 190px;
  @include breakpoint(small down){
    margin-top: 80px;
  }
}
.extra-large-padd-left-10 {
  padding-left: 10px;
  @include breakpoint(medium down) {
    padding-left: 0;
  }
}
.icon--white {
  path {
    fill: $white;
  }
}
.icon--white80 {
  path {
    fill: $white80;
  }
}
.icon--dark40 {
  path {
    fill: $darkBlue-40;
  }
}

.less-margin {
  &--top {
    margin-top: 0 !important;

  }
  &--bottom {
    margin-bottom: 0 !important;
  }
}


.align-center {
  display: flex;
  align-items: center;
}

.btnMain {
  background-color: $white;
  min-width: 184px;
  border: 1px solid $darkBlue;
  padding: 15px 40px;
  transition: box-shadow 300ms ease, background-color 200ms ease, color 200ms ease, left 300ms ease;
  &:hover, &:active, &:focus {
    color: $white;
    background-color: $darkBlue;
    box-shadow: 6px 6px $blue, -6px -6px $orange;
  }
}

.hidden_logo {
  opacity: 0 !important;
}
.visible_logo {
  opacity: 1 !important;
}

.body--contrast {

  .link-arrow {
    fill: $white;
  }
}

