.body--contrast{
  background: $darkBlue;
  transition: all 400ms ease;
}

.svef-logo {
  width: 109px;
  height: 17px;
}
.top-text-padding {
  padding-top: 190px;
}
.icon--white {
  path {
    fill: $white;
  }
}