.section {

  &--margin-bottom {
    margin-bottom: 140px !important;
  }
  &__bg-color {
    &--default {
      height: 800px;
      background: $bgGray;
      @include breakpoint(small down) {
        height: 500px;
      }
      @include breakpoint(medium down) {
        height: 800px;
      }

    }
    &--dark {
      background: $darkBlue;
    }
  }
  &__image {
    .hero-image {
      position: absolute;
      width: 56vw;
      height: 100%;
      max-height: 600px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @include breakpoint(small down){
        position:relative;
        width: 100vw;
        height: 400px;
      }
      @include breakpoint(medium down) {
        width: 36vw;
      }
    }
  }
  &__paragraphTall {
    min-height: 240px;
    max-height: 240px;
  }
  &__link {
    display: flex;
    align-items: center;
    margin-top: 100px;
    svg {
      margin-left: 20px;
    }
  }
}

.body--contrast {
  .section__bg-color--default {background: $darkBlue;}
}
