.section {
  height: auto;
  &--quotetext {
    min-height: 790px;
    display: flex;
    align-items: center;
  }
  &__bg-fix {
    position: absolute;
    content: '';
    right: 0;
    height: 100%;
    width: 30%;
    z-index: -1;
    @include breakpoint(medium down) {
      width: 100vw;
    }
    &--default,  {
      background-color: $bgGray;
    }
    &--red {
      background: $pink;
    }
    &--blue {
      background: $blue;
    }
    &--dark {
      background: $darkBlue;
    }
    &--right {
      right: calc( ((100vw - 75rem) / -2) - 0.9357rem );
      @include breakpoint(large down) {
        right: -0.9357rem;
      }
      @include breakpoint(small down) {
        right: -0.625rem;
      }
    }
  }
  &--margin-bottom {
    margin-bottom: 140px !important;
  }
  &--margin-top {
    margin-top: 180px !important;
  }
  &--margin-bottom-inside {
    margin-bottom: 110px !important;
  }
  &__bg-height {
    &--normal {
      min-height: 800px;
      max-height: 800px;
      height: 100%;
      @include breakpoint(medium down) {
        height: 700px;

      }
      @include breakpoint(small down) {
        min-height: auto;
        max-height: auto;
      }
    }
    &--slide-show {
      min-height: 84vh;
      height: 100%;
    }
  }
  &__bg-color {
    &--default {
      background: $bgGray;

    }
    &--red {
      background: $pink;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
      a {
        color: $white;
      }
      svg {
        fill: $white;
        path {
          fill: $white;
        }
      }
    }
    &--blue {
      background: $blue;
      color: $white;
      h2 {
        color: $white;
      }
      p {
        color: $white;
      }
      a {
        color: $white;
      }
      svg {
        fill: $white;
        path {
          fill: $white;
        }
      }
    }
    &--dark {
      background: $darkBlue;
      color: $white;
      svg {
        fill: $white;
        path {
          fill: $white;
        }
      }
      .svef-logo {
        fill: $orange;
        path {
          fill: $orange;
        }
      }
    }
    &--darker {
      background: $blackBlue;
      color: $white;
      svg {
        fill: $white;
        path {
          fill: $white;
        }
      }
      .svef-logo {
        fill: $orange;
        path {
          fill: $orange;
        }
      }
    }
    &--absolute {
      position: absolute !important;
      z-index: -1;
      top: 0 !important;
    }
  }

  &__image {
    position: relative;
    height: 74vh;
    @include breakpoint(medium down) {
      height: 45vh;
      margin-bottom: 30px;
    }

    @include breakpoint(small down) {
      height: 30vh;
      // overflow: hidden;
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
    .hero-image {
      float:right;
      right: 0;
      position: absolute;
      width: 60vw;
      height: 100%;
      max-height: 74vh;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 0;

      @include breakpoint(medium down) {
        width: 100vw;
        float: left;
        left: 0;
      }
      @include breakpoint(small down){
        position:relative;
        width: 100vw;
        height: 30vh;

      }
    }
    .c2a-image {
      width:100%;
      height: 100%;
      // max-height: 600px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &__image--c2a {
    @include breakpoint(small down) {
      height: auto;
    }
  }

  &__paragraphTall {
    min-height: 240px;
    max-height: 240px;
    @include breakpoint(small down) {
      max-height: 120px;
      min-height: 120px;
    }
    @include breakpoint(small down) {
      max-height: 90px;
      min-height: 90px;
    }
  }
  &__info {
    position: relative;
    height: auto;
    // min-height: 60vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    &--center {
      justify-content: center !important;
    }
    &--start {
      justify-content: flex-start !important;
    }
    &--text {
      @include breakpoint(medium down) {
        margin-bottom: 40px;
      }
      @include breakpoint(small down) {
        margin-bottom: 10px;
        margin-top: 100px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    // margin-top: 50px;

    svg {
      margin-left: 16px;
    }
    &--absolute {
      position: absolute
    }
    @include breakpoint(small down) {
      margin-top: 20px;
    }
    &--hero {
      @include breakpoint(small down) {
        margin-top: 20px;
      }
    }
    &--inline {
      display: inline-flex;
    }
  }
  &__label {
    position: relative;
    margin-bottom:  40px;
    width: 60%;
    @include breakpoint(small down) {
      width: 100%;
    }
    .down-caret {
      position: absolute;
      top: 50%;
      margin-top: -4px;
      right: 20px;
      @include breakpoint(small down) {
        right: 10px;
      }
    }
  }
  &__select {
    border: none;
    appearance: none;
    outline: none;
    background-image: none;
    margin: 0;
    // text-transform: uppercase;
    background-color: transparent;

    &:focus {
      border: none;
      box-shadow: none;
      background-color: transparent;
    }

    &--winners {
      height: auto;
      font-family: $font-overpass;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      @include breakpoint(small down) {
        font-size: 14px;
      }
    }

  }
  &__winners-slider--inner {
    padding-left: calc((100vw - 75rem) / 2);
    @include breakpoint(large down) {
      padding-left: 0.9357rem;
    }
  }
  &__loader--events-page {
    margin-top: 100px;
  }
}

.body--contrast {
  .section__bg-color{
    &--default, &--red, &--blue {
      transition: all 800ms $transition;
      background: $blackBlue;
      svg {
        fill: $white;
        path {
          fill: $white;
        }
      }
      .svef-logo {
        fill: $orange;
        path {
          fill: $orange;
        }
      }
    }
  }
  .section__bg-fix {
    &--default, &--red, &--blue {
      transition: all 800ms $transition;
      background-color: $blackBlue;
    }
  }
  .section {
    &__label .down-caret line {
      stroke: $white;
    }
  }

  .btnSignup--clicked {
    color: $white;
  }

}
