@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700|Overpass:300,400,600,700|Oswald:600');
$font-noto: 'Noto Sans', sans-serif;
$font-overpass: 'Overpass', sans-serif;
$font-oswald: 'Oswald', sans-serif;

// colors

$white: #fff;
$black: #000;
$black-40: rgba($black, .4);
$orange: #FF8811;
$darkBlue: #15202D;
$darkBlue-40: rgba($darkBlue, .4);
$bgGray: #F1F1F9;
$blue: #2F7E98;
$pink: #A4405C;


// transitions

$transition: cubic-bezier(0.075, 0.82, 0.165, 1);
$cardShadow: 0 1px 3px rgba(0,0,0,0.04), 0 1px 2px rgba(0,0,0,0.14);
$cardShadowHover: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
