.section--footer {
    height: 440px;
    // width: 100%;
    // position: fixed;
    // bottom: 0;
    // left:0;
    // z-index: -1;
    .footer {
        width: 100%;
        padding-top: 100px;
        .socialmedia {
            margin: 24px 0;
            a {
                margin: 0 24px 0 0;
            }
        }
        &__links {
            margin-top: 40px;
        }
    }
}
