.section--footer {
  height: 100%;
  .footer {
    width: 100%;
    padding: 100px 0 80px 0;
    &__copyright {
      padding: 0;
      p {
        color: $white-40;
      }
    }
    .socialmedia {
      margin: 24px 0;
      a {
          margin: 0 24px 0 0;
      }
    }
    &__links {
      margin-top: 40px;
      ul {
        padding: 0;
        margin: 0;
        li {
          padding: 2px 0;
          &:hover {
            a {
              color: $orange;
            }
          }
        }
      }
      @include breakpoint(medium down) {
      li {
        padding: 6px 0;
      }
      }
    }
    .svef-logo {
      fill: $orange
    }
    .footer__newsletter {
      margin-top: 96px;
      overflow: hidden;
      @include breakpoint(medium down) {
        margin-top: 40px;
      }
      .gsection {
        position: absolute;
        border-bottom: none;
      }
      .gform_wrapper li.gfield.field_description_below+li.gsection {
        margin-top: 32px!important;
        max-width: 200px;
    }
      .gsection h2 {
        font-family: $font-overpass;
        font-weight: 300;
        line-height: 22px;
        font-size: 13px;
        color: $white;
      }
      .gform_footer {
        display: flex;
        justify-content: flex-end;
        .gform_button {
          @extend .btnMain;
          @extend button;
          margin-right: 32px;
          &:before {
            content: '';
          }
          @include breakpoint(medium down) {
            margin-right: 32px;
          }
          @include breakpoint(small down) {
            margin-top: 60px;
            margin-right: 16px;
          }
        }
      }
      .gfield .ginput_container input {
        border-bottom: 1px solid $white;
        &::placeholder {
          color: $white-60;
        }
      }
    }
  }
  @include breakpoint(small down) {
    .desktop-menu, .site-navigation .top-bar-left {
      display: block !important;
    }
  }
}



.body--contrast {
  .section--footer {
    .svef-logo {
      fill: $orange;
      path { fill: $orange;}

    }
  }
}
