body {
  margin-top: 80px;

  // margin-bottom: 540px;
  background-color: $white;
  z-index: 1;
  // overflow-x: hidden;
  @include breakpoint(small down) {
    margin-top: 60px;
  }
}

button {
  cursor: pointer;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

article {
  min-height: 70vh;
}
