h1 {
  font-family: $font-noto;
  font-weight: 700;
  line-height: 68px;
  font-size: 50px;
  @include breakpoint(medium down) {
    font-size: 34px
  }
}

h2 {
  font-family: $font-noto;
  font-weight: 700;
  line-height: 48px;
  font-size: 34px;
  @include breakpoint(medium down) {
    font-size: 24px;
  }

}

h3 {
  font-family: $font-noto;
  font-weight: 700;
  line-height: 36px;
  font-size: 24px;
  color: $black;
  @include breakpoint(medium down) {
    font-size: 18px;
  }
}

h4 {
  line-height: 32px;
  font-size: 18px;
  color: $black;
}

p {
  font-family: $font-overpass;
  font-weight: 300;
  line-height: 24px;
  font-size: 15px;
  color: $black;
}

.text {
  @extend p;
  &--large {
    line-height: 28px;
    font-size: 18px;
  }
  &--small {
    line-height: 22px;
    font-size: 13px;
  }
  &--quote {
    line-height: normal;
    font-size: 34px;
  }
  &--breadcrum {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 10px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $black-40;
  }
  &--span-input-required {
    font-weight: 300;
    line-height: 22px;
    font-size: 13px;
    color: $darkBlue-40;
  }
  &--span-input-error {
    font-weight: bold;
    line-height: normal;
    font-size: 12px;
    color: $orange;
  }
  &--orange {
    color: $orange;
  }
}

a {
  font-family: $font-overpass;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 13px;
  text-decoration: none;
  color: $black;
  a:hover {
    text-decoration: none;
  }
}

.link-text {
  &--menu {
    @extend a;
    line-height: 22px;
    font-size: 12px;
  }
  &--dull {
    opacity: 0.8;
    text-transform: lowercase;
  }
  &--upper-case {
    text-transform: uppercase;

  }
  &--normal-case {
    text-transform: initial;
  }
}

button {
  font-family: $font-overpass;
  font-weight: 700;
  line-height: 16px;
  font-size: 11px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

label {
  font-family: $font-overpass;
  font-weight: 300;
  line-height: 22px;
  font-size: 13px;
  color: $black;
}
li {
  a {
    color: $black;
  }
}
input[type="text"], input[type="checkbox"] {
  font-family: $font-overpass;
  font-weight: 300;
  line-height: 24px;
  font-size: 15px;
  color: $darkBlue;
}


select {
  @extend .link-text--menu;
}
.section {
  &__bg-color {
    &--dark {
      h1, h2, h3, h4, p, a, .text, label, button, li, input[type="text"], input[type="checkbox"] {
        color: $white;
      }
    }
  }
}
.body--contrast {
  h1, h2, h3, h4, p, a, .text, label, button, li, input[type="text"], input[type="checkbox"] {
    color: $white;
  }
}


