@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700|Overpass:300,400,600,700');

$font-noto: 'Noto Sans', sans-serif;
$font-overpass: 'Overpass', sans-serif;

// colors

$white: #fff;
$black: #000;
$black-40: rgba($black, .4);
$orange: #FF8811;
$darkBlue: #15202D;
$darkBlue-40: rgba($darkBlue, .4);
$bgGray: #F1F1F9;
$blue: #2F7E98;
$pink: #A4405C;
